@import "../../styles/_colors";

$message-time-color: darken($accent-color, 46.5%);
$speech-bubble-border-color: darken($accent-color, 13.18);

.message-row {
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 10px;

  > .message-content {
    display: grid;

    > .message-time {
      color: $message-time-color;
    }

    > .message-text {
      padding: 7px 12px;
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  &.you-message {
    justify-content: end;
    margin-right: 3px;

    > .message-content {
      justify-items: end;

      > .message-text {
        background: $primary-color;
        color: $contrasted-primary-text;
        border: 1px solid $primary-color;
        border-radius: 14px 14px 0 14px;
        > .message-date-hours {
          color: #bad5dd;
          font-size: 12px;
          margin-left: 6px;
        }
      }
    }
  }

  &.other-message {
    justify-items: start;
    margin-left: 3px;

    > .message-content {
      justify-items: start;

      > .message-text {
        background: $accent-color;
        color: $contrasted-accent-text;
        border: 1px solid $speech-bubble-border-color;
        border-radius: 14px 14px 14px 0;
        .message-date-hours {
          color: $primary-color;
          font-size: 12px;
          margin-left: 6px;
        }
      }
    }
  }
}
