@import "../../styles/_colors";

$message-time-color: darken($accent-color, 46.5%);
$speech-bubble-border-color: darken($accent-color, 13.18);

.message-row {
  display: flex;
  margin-bottom: 10px;

  >.message-content {
    display: grid;
    margin: 10px 5px;
    align-items: center;

    >.message-time {
      color: $message-time-color;
      margin-left: 5px;
    }

    >.message-text {
      padding: 7px 12px;
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  &.you-message {
    justify-content: flex-end;
    margin-right: 3px;

    >.message-content {
      justify-items: end;

      >.message-text {
        background: $primary-color;
        color: $contrasted-primary-text;
        border: 1px solid $primary-color;
        border-radius: 14px 14px 0 14px;

        >.message-date-hours {
          color: #bad5dd;
          font-size: 12px;
          margin-left: 6px;
        }
      }
    }
  }

  &.other-message {
    justify-items: flex-start;
    align-items: center;
    margin-left: 3px;
    .message-image {
      border-radius: 100%;
      width: 35px;
      height: 35px;
      margin-right: 5px;
    }
    >.message-content {
      justify-items: start;

    

      >.message-text {
        background: $accent-color;
        color: $contrasted-accent-text;
        border: 1px solid $speech-bubble-border-color;
        border-radius: 14px 14px 14px 0;

        .message-date-hours {
          color: $primary-color;
          font-size: 12px;
          margin-left: 6px;
        }
      }
    }
  }
}